// Yeti framework styles
@import 'yeticss'

// Component styles
@import 'donations-list'
@import 'donation-page'
@import 'profile-image'
@import 'spinner'
@import 'student-card'
@import 'student-details'
@import 'student-form'
@import 'student-management-menu'
