$logo-height = $space*2
$centering-offset = $logo-height/3

.top-nav li
  position: relative
  top: - $centering-offset
  font-size: $font-medium

.top-nav li.pull-right
  top: $centering-offset

.top-nav li.logo
  position: static

.top-nav a
  color: $blue

.top-nav a:hover
  color: $blue-light

.logo img
  height: $logo-height

footer
  padding-top: $ui-padding-default
  border-top: 1px solid $gray-light
  margin-top: $space

footer p
  font-size: $font-small
  margin-bottom: $ui-padding-default
