.spinner
  position: fixed
  top: 50%
  left: 50%
  border-radius: 100%
  z-index: 20
  transform: translate(-50%, -50%)
  background-color: white
  -webkit-overflow-scrolling: touch
  padding: $ui-padding-extra-spaced*1.5
