.student-card
  margin-bottom: $space

.student-card img
  margin-bottom: 0

.student-card figure
  margin-bottom: $ui-padding-spaced

.student-card .name,
.student-card .story
  margin-bottom: $ui-padding-spaced
