.student-details img
  margin-bottom: 0

.student-details figure,
.student-details .funding-summary
  margin-bottom: $ui-padding-spaced

.student-details .donate-button
  margin-bottom: $space

.student-details .donors-list h4
  border-bottom: 1px solid $gray-light
  padding-bottom: 5px
  margin-bottom: $ui-padding-narrow
